<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Inscripción</strong>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="dni">DNI</label>
            <!--<input  id="dni" name="dni" class="form-control is-valid"-->
            <!--placeholder="Enter Email.." autocomplete="email">-->
            <input id="dni" [(ngModel)]="inputDni" (keydown.enter)="buscarMatricula()" class="form-control"
              placeholder="Ingresa DNI">

            <div [style.color]="color">
              {{mensajeFeedback}}
            </div>
            <!--<span class="help-block was-validated">Please enter your email</span>-->
          </div>
        </div>
        <div class="card-footer">
          <button (click)="buscarMatricula()" type="button" class="btn  btn-primary" data-toggle="modal"><i
              class="fa fa-dot-circle-o"></i> Buscar</button>
          <button type="reset" name="reset" class="btn  btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Alumno</label>
            <input type="text" value="{{nombreAlumno}}" class="form-control" disabled />
          </div>

          <div class="form-group">
            <label>Nivel</label>
            <select class="custom-select" (change)="cambioNivel($event)" formControlName="IdNivel"
              [ngClass]="{ 'is-invalid': submitted && f.IdNivel.errors }">
              <option value="">Seleccione nivel ...</option>
              <option *ngFor="let nivelx of niveles" [ngValue]="nivelx.IdNivel"
                [selected]="nivelx.IdNivel === matricula.IdNivel">{{nivelx.Descripcion}}</option>
            </select>
            <div *ngIf="submitted && f.IdNivel.errors && f.IdNivel.value==''" class="invalid-feedback">
              <div *ngIf="f.IdNivel.errors.required">Nivel es requerido</div>
            </div>
          </div>


          <div class="form-group">
            <label>Grado</label>
            <input type="text" formControlName="Grado" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Grado.errors }" />
            <div *ngIf="submitted && f.Grado.errors" class="invalid-feedback">
              <div *ngIf="f.Grado.errors.required">Grado es requerido</div>
            </div>
          </div>

          <div class="form-group">
            <label>Seccion</label>
            <input type="text" formControlName="Seccion" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Seccion.errors }" />
            <div *ngIf="submitted && f.Seccion.errors" class="invalid-feedback">
              <div *ngIf="f.Seccion.errors.required">Seccion es requerido</div>
            </div>
          </div>



          <div class="form-group">
            <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()"> Close</button>
            <button [disabled]="loading" class="btn btn-primary">Register</button>
          </div>
        </form>

      </div>
      <!--      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        <button (click)="guardarAlumno()" type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->

      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>-->
      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>











<div bsModal #mensajeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button" class="close" (click)="mensajeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>{{msgModal}}</label>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-secondary" (click)="mensajeModal.hide()"> Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="goInscripcion()">Aceptar</button>
          </div>
        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>